In [1]:
maths = {12,34,56,78,90,23,33,56,12,8,9,3,4,5}
history = {22,3,4,5,6,7,8,1,2,4}
z = maths.union(history)           #adds two set.
print(z)
y = maths.intersection(history)    # output only common elements
print(y)
x = maths.difference(history)      # output only 1st set value differnce from 2nd set
print(x)
w = history.difference(maths)
print(w)
v= history.symmetric_difference(maths)    #returns value other than union
print(v)
u = maths.update(history)
print(maths)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 78, 22, 23, 90, 33, 34, 56}
{8, 3, 4, 5}
{33, 34, 9, 12, 78, 23, 56, 90}
{1, 2, 6, 7, 22}
{33, 34, 1, 2, 9, 6, 7, 12, 78, 22, 23, 56, 90}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 78, 22, 23, 90, 33, 34, 56}

In [32]:
name= {'suleman', 'preeti', 'jyoti'}
surname = {'kazi','sharma','verma'}
middle = {'abubaker','mumshad','hari'}
#name.update(surname)
print(name)
import itertools 
a = set(itertools.chain(name,surname,middle))
print(a)

{'jyoti', 'suleman', 'preeti'}
{'sharma', 'abubaker', 'hari', 'verma', 'jyoti', 'mumshad', 'suleman', 'preeti', 'kazi'}

In [33]:
import operator
from functools import reduce      #functool and reduce is library
print(reduce(operator.or_,[name,middle])) #or is unioun (simple union in 2 sets we are doing)

{'jyoti', 'mumshad', 'suleman', 'abubaker', 'hari', 'preeti'}

In [4]:
name= {'suleman', 'preeti', 'jyoti'}
surname = {'kazi','sharma','verma'}
name | surname
print(name)

{'jyoti', 'suleman', 'preeti'}

In [5]:
#Directory
directory = {"Akazh":123, "Vinod":143, "Aniket":567}
print(directory)
type(directory)

{'Akazh': 123, 'Vinod': 143, 'Aniket': 567}

dict

In [7]:
directory["Akazh"];

In [ ]:
directory["Vinod"]

In [ ]:

directory["Aniket"]

In [8]:
vocabulary = {'see':'watch','listen':'hear','speak':'talk','move':'shift'}

vocabulary['see']

'talk'

In [9]:
vocabulary['listen']

'hear'

In [10]:
vocabulary['speak']

'talk'

In [11]:
data = {'name':['a,v,c'],'email':('a@a.com','b@b.com'),'id':'10168'}

In [17]:
data['name']

['a,v,c']

In [20]:
print(data.keys())

dict_keys(['name', 'email', 'id'])

In [21]:
print(data.values())

dict_values([['a,v,c'], ('a@a.com', 'b@b.com'), '10168'])

In [22]:
print(data.items()) #Returns List of pair of tuples

dict_items([('name', ['a,v,c']), ('email', ('a@a.com', 'b@b.com')), ('id', '10168')])

In [23]:
data.pop('name')

['a,v,c']

In [24]:
print(data)

{'email': ('a@a.com', 'b@b.com'), 'id': '10168'}

In [25]:
data['name']='a,v,c'

In [26]:
print(data)

{'email': ('a@a.com', 'b@b.com'), 'id': '10168', 'name': 'a,v,c'}

In [31]:
print(type(data))

<class 'dict'>

In [37]:
name= {'suleman', 'preeti', 'jyoti'}
surname = {'kazi','sharma','verma'}
middle = {'abubaker','mumshad','hari'}
employee = (*name,*surname)                  #*convert set to tuple for faster processing
print(employee)
type(employee)

('jyoti', 'suleman', 'preeti', 'verma', 'sharma', 'kazi')

tuple

In [44]:
print(type(name))

<class 'set'>

In [47]:
#loops
a= 10; b=20
print(a)
print(b)

10
20

In [67]:
nums1 = 50
nums2 = 50
if nums1>nums2:
    temp = nums1-nums2
    print('num1 is greater than num2')
    print(temp)
elif nums2==nums1:
     print('num2 is equal to num1')
else:
    temp = nums1+nums2
    print('num2 is greater than num1')
    print(temp)

num2 is equal to num1

In [63]:
amount = int(input("Enter amaount here:"))
balance = 100

Enter amaount here:12

In [ ]:
amount = int(input('Enter amount here:'))
balance = 100
if amount > 0:
    print('Welcome to our bank')
    balance =+ amount
    print('Amount you enter is {}\n ')

In [72]:
a = 5; b = 4
print('a is smaller than b') if a < b else print('a is equal to b') if a == b else print('a is greater than b')

a is greater than b

In [78]:
a = (); b = ()
a = int(input('Enter a amount here:'))
b = int(input('Enter b amount here:'))
print('a is smaller than b') if a < b else print('a is equal to b') if a == b else print('a is greater than b')

Enter a amount here:40
Enter b amount here:50
a is smaller than b